@{
    ViewData["Title"] = "Início";
}


<div class="container mt-5">

    <div class="border rounded-4 shadow-sm p-5 text-center bg-light" style="margin-top:10%;">

        <h2 class="display-1 fw-bold text-secondary"
            style="letter-spacing: 4px; color: #b0b0b0 !important;">
            Banco KRT
        </h2>

        <p class="fs-4 text-secondary mt-3">
            Seja bem-vindo!
        </p>

    </div>

    <div class="d-flex justify-content-center gap-3 mt-4">

        <a class="btn btn-success btn-lg px-5"
           asp-controller="Limites"
           asp-action="Create">
            Cadastro
        </a>

        <a class="btn btn-primary btn-lg px-5"
           asp-controller="TransacoesPix"
           asp-action="Simular">
            Pesquisa
        </a>

    </div>

</div>




